@import "tailwindcss";

/* Main container layout */
#contact {
    /* Use fixed to ensure it stays put, or min-h-dvh for mobile support */
    background-image: url("../../assets/contactbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    /* dynamic viewport height for mobile browsers */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.msgoverlaybg {
    position: fixed;
    inset: 0;
    /* Short for top:0, left:0, right:0, bottom:0 */
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}