@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: valorant;
    src: url(../../fonts/valorant/ValorantFont.ttf);
}


/* body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
} */



nav{
    /* position: fixed;
    left: 5px;
    height: 75vh;
    width: 70px;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    align-items: center;
    justify-content: center;
    opacity: 1;
    border-radius: 20px;
    margin-left: 50px;
    background: linear-gradient(145deg, #222121, #2C2A28);
    box-shadow:  4px 4px 5px #1a1919,
    -4px -4px 5px #474343;
    transition: 0.4s ease-in-out;
    top: 12.5vh;
    z-index: 10; */

    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 38%;
    background-color: #000000;
    position: fixed;
    z-index: 10;
    border-radius: 50px;
    opacity: 0.7;
    backdrop-filter: blur(20px);
}

nav svg{
    display: none;
}



/* nav:hover{
    width: 145px;
}

nav:hover ul{
    width: 80%;
}

nav:hover ul li{
    width: 100%;
}

nav:hover ul li a{
    width: 100%;
    content: "hi";
}

ul li{
    width: 100%;
    transition: 0.4s ease-in-out;
} */


/* nav{
    position: fixed;
    top: 20px;
    height: 75px;
    width: 70vw;
    background-color: #413f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    border-radius: 20px;
    margin-left: 50px;
    box-shadow: 2px 3px 7px #25232396 ;
    transition: 0.4s ease-in-out;
} */

ul li a{
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25vw;
    opacity: 1;
}


ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.4s ease-in-out;
}
/* 
ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
} */

.navalink{
    border-radius: 15px;
    color: #F8BE1E;


}

.navbar-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: fixed;
    z-index: 10;
    top: 4vh;
}

.navalink:hover{
    text-shadow: 0px 0px 2px #fff,
    0px 0px 2px #fff,
    0px 0px 2px #fff;
}

/* ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    height: 100%;
    width: 100%;
} */



/* #navv:hover{
    width: 150px;
    align-items: flex-start;
} */

/* #homel.active{
    background-color: #d6ff21;
    padding: 24px 15px 15px 15px;
    color: #0f0d0d;
}

#aboutl.active{
    background-color: #d6ff21;
    padding: 24px 15px 15px 15px;
    color: #0f0d0d;
}

#contactl.active{
    background-color: #d6ff21;
    padding: 24px 15px 15px 15px;
    color: #0f0d0d;
} */

.navname{
    display: flex;
    transition: 0.5s ease-in-out;
}

/* nav:hover{
    width: 150px;
    .navname {
        display: flex;
        font-size: 10px;
        font-family: valorant;
        color: #fff;
    }

    ul li a span{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-left: 20px;
        font-size: 20px;
    }
} */

/* @media (max-width: 1500px) and (max-height:2000px) {
    nav{
        width: 80%;
        height: 100px;
    }

    .navname{
        font-size: 27px;
    }
} */

@media (max-width: 700px) {

    .navbar-cont{
        bottom: 20px;
        position: fixed;
    }

    nav{
        width: 90vw;
        height: 7vh;
        left: 20px;
        margin: 0;
        bottom: 22px;
        background-color: #413f3f;
        box-shadow:  4px 4px 5px #1a1919,
                   -4px -4px 5px #474343;
        opacity: 1;
        /* top: 91vh; */
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        border-radius: 20px;
        background: linear-gradient(145deg, #222121, #2C2A28);
        box-shadow:  4px 4px 5px #1a1919,
        -4px -4px 5px #474343;
        transition: 0.4s ease-in-out;
        z-index: 10;
        backdrop-filter: blur(0px);
    }

    nav svg{
        display: flex;
    }

    
    ul li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        font-size: 15px;
    }

    .navname{
        display: flex;
        font-size: 10px;
        font-family: valorant;
        color: #fff;
    }

    .navalink:hover{
        background-color: transparent;
        padding: 0;
        color: #fff;
    }

    nav svg{
        height: 1.2em;
        width: 1.2em;
    }

}

@media (max-width: 1100px) and (min-height: 1000px) {
    .navbar-cont{
        bottom: 20px;
        position: fixed;
    }

    nav{
        width: 90vw;
        height: 7vh;
        /* left: 6%; */
        margin: 0;
        bottom: 22px;
        background-color: #413f3f;
        box-shadow:  4px 4px 5px #1a1919,
                   -4px -4px 5px #474343;
        opacity: 1;
        /* top: 91vh; */
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        border-radius: 20px;
        background: linear-gradient(145deg, #222121, #2C2A28);
        box-shadow:  4px 4px 5px #1a1919,
        -4px -4px 5px #474343;
        transition: 0.4s ease-in-out;
        z-index: 10;
        backdrop-filter: blur(0px);
    }

    nav svg{
        display: flex;
    }

    
    ul li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        font-size: 15px;
    }

    .navname{
        display: flex;
        font-size: 10px;
        font-family: valorant;
        color: #fff;
    }

    .navalink:hover{
        background-color: transparent;
        padding: 0;
        color: #fff;
    }

    nav svg{
        height: 1.2em;
        width: 1.2em;
    }
}

@media (max-width: 400px) {
    ul li a,
    .navname{
        font-size: 10px;
    }
}

