footer{
    height: 200px;
    width: 100vw;
    background-color: #242222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maincontent{
    height: 98%;
    width: 100%;
    background-color: #353232;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-around;
}

.logoimgfooter{
    height: 150px;
    width: 150px;
}

.socials{
    color: rgb(216, 216, 30);
    font-family: 'valorant';
    display: flex;
    flex-direction: column;
}

.slinks{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.slinks a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.slinks a:hover{
    background-color: #fff;
    color: #292727;
}

.uline{
    height: 2px;
    top: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    background-color: rgb(216, 216, 30);
    width: 50%;
}

.caddr{
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

.rights{
    height: 30px;
    display: grid;
    place-content: center;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
}

.rights span{
    opacity: 0.6;
}


@media (max-width: 700px) {
    
    footer{
        font-size: small;
        z-index: 0;
        height: fit-content;

    }

    .logoimgfooter{
        height: 70px;
        width: 70px;
    }

    .maincontent{
        flex-direction: column;
        height: fit-content;
        padding-top: 30px;
        width: 100%;
        padding-bottom: 65px;
    }

    .socials{
        width: 90%;
    }

    .uline{
        display: none;
    }

    .socials h3{
        text-decoration: underline;
        font-size: 1rem;
    }

    .slinks a{
        margin-bottom: 20px;
    }

}

@media (max-width: 400px) and (max-height: 700px){
    .rights{
        font-size: 10px;
    }
  
  }